*{
    margin: 0;
    padding:0;
    text-decoration: none;
    outline: none;
}
html{
    height:100%;
}
body{
    background: linear-gradient(90deg, rgb(228, 228, 228), rgb(255, 255, 255) 25%);
height:100%;
overflow: auto;
display: grid;
grid-template-columns: 4fr 7fr 3fr;
grid-template-rows: 4fr 12fr 1fr;
grid-gap: 0.5em;
}
aside{
    border:1px solid black ;
    grid-row: 2/3;
}
.article{              /*ARTICLE*/
grid-column: 2/3;
display: grid;
grid-template-columns:1fr;
grid-gap:2em;
}
#right-aside{
    border: 1px solid black;
}
.article-after{                     /*ARTICLE-AFTER*/
    grid-column: 1/3;
    grid-row: 2/3;
}

.publication{
    padding: 10px;
    font-weight: 200;
    font-size: .9em;
    font-family:'Calluna Sans',sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    grid-template-rows: minmax(5px,auto);
}
.avatar{
    width:30px;
    height: 30px;
    border:2px dotted blue;
    border-radius: 15px;
}
.authorpubl{
    color:rgb(0, 0, 150);
    font-weight: bold;
font-family: 'bree',sans-serif;
display: grid;
grid-template-columns: 1fr 1fr;
justify-self: start;
}
.authname{
   align-self: center;
}
.pubtext{
    grid-column: 1/3;
}

header{                              /*HEADER*/
    border:1px solid black ;
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 12fr;
    background-color: rgb(0, 0, 138);
    border-top: 2px double silver;
    border-bottom: 2px double silver;
    height:300%
}

#logo{
    color:red;}
.headert,.serve{
    font-family: Comic Sans MS,sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#butt-ser{border-radius: 10px;
    border:1px solid silver;
    background-color: rgba(255,255,255,0);
   border-radius:0px 10px 10px 0px ;
    border:0px;
    box-sizing: border-box;
    font-size: 15px;
}
.field1{
    width: 100%;
    background-color: rgba(255,255,255,0);
    border-radius: 10px;
    border:1px solid silver; 
    box-sizing: border-box;
    border:none;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    font-family: Comic Sans MS,sans-serif;
   
}
#search:focus{
    border:1px double yellow;
}
#search:hover{
    background-position: 0,0;
    transition: .7s;
}
#form1{ 
   display: grid;
   grid-template-rows: 1fr 2fr 1fr;
   width: 90%;
}
#search{

    width:100%;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 4fr 1fr;
    height:100%;
    background: linear-gradient(to right,rgb(195, 195, 252),white 50%);
    background-size:200%;
    background-position: 100%,100%;
    border-radius: 10px;
    border:2px solid silver;
    transition: .7s;
}

.serve{
    color: white;
    font-size: 2em;
    align-self: flex-start;
    justify-self: center;
}
#service{
    height:100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-self:end;
    grid-gap: 1em;

}
.serve:hover{
color: rgb(226, 7, 255);   
transition: all 0.2s ease-in 0.2s;
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.menu-default{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr ;
    border-color: silver;
    border-style: double;
    border-top:1px;
    border-left: 1px;
align-self: start;
    justify-content: center;
    background-color:  rgb(0, 0, 138);
    justify-items: center;
    transition: opacity 0s ease 0s,font-size 0s ease 0s;
}
.menu-after{
    grid-row: 2/2;
    grid-column: 1/1;
    opacity: 0;
    font-size: 0;
    transition: opacity 0s ease 0s,font-size 0s ease 0s;
}
/*#left-aside{
    width:70%;
    height:50%;
    margin-left:20%;
    display: block;
    justify-content: center;
}*/
.menu{
    position: relative;
    font-family: Comic Sans MS, sans-serif;
    color:white;
    display: block;
    font-size: 1.5em;
}
.menu:after{
content: '';
position: absolute;
bottom:0;
left:0;
width:0;
height:0%;
opacity: 0;
border-bottom: 2px solid white;
text-align: center;
justify-content: center;
}
.menu:hover:after{
    width:100%;
    opacity: 1;
    transition:0s ease opacity 0s,.8s ease width .2s; 
}
.btn-menu{
    width:70%;
    position: relative;
    bottom: 0;
    background: rgb(171, 233, 241);
    border: 1px solid black;
    border-radius: 8px;
}
#butt-menu{
    top:50%;
    left:25%
}
#butt-menu:after,#butt-menu:before{
       content: '';
}
#butt-menu:after,#butt-menu:before,#butt-menu{
    position: absolute;
    box-sizing: border-box;
   width: 100%;
    height:2px;
    background-color: rgb(0, 0, 0);
}
#butt-menu{
    width: 50%;
}
#butt-menu:after{
    transform: translateY(-5px);
}
#butt-menu:before{
    transform: translateY(5px);
}
footer{
     background-color: rgb(0, 0, 138);
    color: white;
    grid-column: 1/4;
    grid-row: 3/4;
}
